body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header-sale {
    display: flex;
    color: blue;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.footer-sale {
    display: flex;
    color: blue;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.container {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-color: rgb(73, 80, 80);
    margin-left: auto;
    margin-right: auto;
    width: 23.6rem;
    padding: 1rem;
}

:root {
    /* --totais--font-family: none; */
    --totais--font-size: 1.3rem;
    --totais--color:rgb(131, 138, 199);
}

.total-itens {
    margin-top: 1rem;
    /* margin-left: 12rem; */
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--totais--font-family);
    color: var(--totais--color);
    font-size: var(--totais--font-size);
}

.disc-note {
    margin-top: 0rem;
    /* margin-left: 12.5rem; */
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--totais--font-family);
    color: var(--totais--color);
    font-size: var(--totais--font-size);
}

.total-note {
    margin-top: 0rem;
    /* margin-left: 13.6rem; */
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--totais--font-family);
    color: var(--totais--color);
    font-size: var(--totais--font-size);
}


.input-payment-sale{
    margin-top: -1.9rem;
    width: 5rem;
    height: 1.8rem;
    border: none;
    margin-left: 4.5rem;
    margin-right: auto;
}

.input-disc-note{
    margin-top: 1rem;
    width: 5rem;
    height: 1.8rem;
    border: none;
    margin-left: 12rem;
    margin-right: auto;

}

.input-person-sale{
    margin-top: -1.9rem;
    width: 5rem;
    height: 1.8rem;
    border: none;
    margin-left: 19rem;
    margin-right: auto;
}

.user-logged {
    display: flex;
    margin-top: 1px;
    color: rgb(5, 14, 42);
    align-items: right;
    justify-content: right;
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.person-logged {
    display: flex;
    margin-top: 1px;
    color: rgb(5, 14, 42);
    align-items: center;
    justify-content: center;
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.close-sale {
    display: flex;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: blue;
}

.line_input {
    display: grid;
    margin-bottom: 10px;
}

.input-seach {
    width: 23rem;
    height: 2rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.input-amount {
    margin-top: 1rem;
    width: 6rem;
    height: 1.8rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: 0px;
    padding: 8px;
    outline: 0;
    width: 9rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(55, 43, 226);
    color: rgb(5, 14, 42);
    border-radius: 3px;
    font-weight: bold;
    margin-top: 12px;
    cursor: pointer;
    transition: all ease 0.3s;
}

button:hover {
    background-color: rgb(31, 168, 168);
}

.contssent {
    margin-top: 3px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    width: 25.6rem;
}

table th,
td {
    padding: 1px .33rem;
    font-size: 0.80rem;
    text-align: left;
    background-color: #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table td img {
    cursor: pointer;
    width: 22px;
}

.center {
    text-align: center;
}
.msgs-sale{
    color:rgb(240, 236, 236);
    font-size: 1.1rem;
    margin-block-end: 1rem;
    align-items: center;
    justify-content: center;
}