body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color:black;
}

.header-sale{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-sale{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.msgs-sale {
    position: absolute;
    left: 1.2rem;
    top: 0rem;
    margin-top: -4px;
    font-size: 1rem;
    color:yellow;
}

.container {
    display: flex;
    margin-top: 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0vh;
    padding: 0 1rem;
}

.main {
    height: 24rem;
    /* width: 24rem; */
    width: 100%;
    padding: 22px 0px 0px 22px;
    border: black 2px solid;
    background-color: rgb(73, 80, 80);
}

.f-form {
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 20rem;
}

.total-itens {
    position: absolute;
    left: 6rem;
    top: 19rem;
}

.disc-note {
    position: absolute;
    left: 6rem;
    top: 20rem;
}

.total-note {
    position: absolute;
    left: 6rem;
    top: 21rem;
    font-size: 1.2rem;

}

.label-payment-sale {
    position: absolute;
    left: 15.6rem;
    top: 11rem;
}

.input-payment-sale {
    position: absolute;
    left: 15.6rem;
    top: 12rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 3px;
    width: 5rem;
}

.label-disc-sale {
    position: absolute;
    left: 8.3rem;
    top: 11rem;
}

.input-disc-note {
    position: absolute;
    left: 8.3rem;
    top: 12rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 3px;
    width: 5rem;
}

.label-person-sale {
    position: absolute;
    left: 1rem;
    top: 11rem;
}

.input-person-sale {
    position: absolute;
    left: 1rem;
    top: 12rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 3px;
    width: 5rem;
}

.user-logged {
    position: absolute;
    left: 10rem;
    top: 16rem;
}

.person-logged {
    position: absolute;
    left: 1rem;
    top: 16rem;
}

.close-sale {
    position: absolute;
    left: 1rem;
    top: 22rem;
    text-decoration: none;
    color: blue;
}

.input-search {
    position: absolute;
    left: 1.1rem;
    top: 1rem;
    height: 2.6rem;
    border-radius: 3px;
    width: 20rem;
    cursor: pointer;
}

.input-amount {
    position: absolute;
    left:15.6rem;
    top: 4rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 3px;
    width: 5rem;
}

.button-sale-save {
    position: absolute;
    height: 40px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    left: 8rem;
    top: 7rem;
}

.button-sale-save:hover {
    background-color: #444;
    color: blue;
}

.button-sale-cancel {
    position: absolute;
    height: 40px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    left: 1rem;
    top: 7rem;
}

.button-sale-cancel:hover {
    background-color: #444;
    color: blue;
}

.button-sale-send {
    position: absolute;
    height: 40px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    left: 15rem;
    top: 7rem;
}

.button-sale-send:hover {
    background-color: #444;
    color: blue;
}

.table-margin-top {
    margin-top: 0.2rem;
    border: 1px solid blue;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    /* width: 25.6rem; */
    width: 100%;
}

table th,
td {
    padding: 1px .33rem;
    font-size: 0.80rem;
    text-align: left;
    background-color: #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table td img {
    cursor: pointer;
    width: 22px;
}

.center {
    text-align: center;
}