body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.header-sale {
    display: flex;
    color: blue;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}

.footer-sale {
    display: flex;
    color: blue;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.container {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-color: rgb(73, 80, 80);
    ;
    margin-left: auto;
    margin-right: auto;
    width: 23.6rem;
    padding: 1rem;
}

.total-product {
    display: flex;
    margin-top: 1rem;
    color: blanchedalmond;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.user-logged {
    display: flex;
    margin-top: 1px;
    color: rgb(5, 14, 42);
    align-items: left;
    justify-content: left;
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.person-logged {
    display: flex;
    margin-top: 1px;
    color: rgb(5, 14, 42);
    align-items: center;
    justify-content: center;
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.close-sale {
    display: flex;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    min-height: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: blue;
}

.line_input {
    display: grid;
    margin-bottom: 10px;
}

.input-seach {
    width: 23rem;
    height: 2rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.input-amount {
    margin-top: 1rem;
    width: 4rem;
    height: 1.8rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: 0px;
    padding: 8px;
    outline: 0;
    width: 9rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(55, 43, 226);
    color: rgb(5, 14, 42);
    border-radius: 3px;
    font-weight: bold;
    margin-top: 12px;
    cursor: pointer;
    transition: all ease 0.3s;
}

button:hover {
    background-color: rgb(31, 168, 168);
}

.contssent {
    margin-top: 3px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    width: 25.6rem;
}

table th,
td {
    padding: 1px .33rem;
    font-size: 0.80rem;
    text-align: left;
    background-color: #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table td img {
    cursor: pointer;
    width: 22px;
}

.center {
    text-align: center;
}