.button-prod {
    position: absolute;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    left: 0.1rem;
    top: 6.5rem;
}

.button-prod:hover {
    background-color: #444;
    color: blue;
}

.prod-descr-label {
    position: absolute;
    left: 0.1rem;
    top: 0rem;
}

.prod-descr-input {
    position: absolute;
    width: 16rem;
    height: 2rem;
    left: 0.1rem;
    top: 1.5rem;
}

.prod-val-max-label {
    position: absolute;
    left: 0.1rem;
    top: 3.5rem;
}

.prod-val-max-input {
    position: absolute;
    width: 8rem;
    height: 2rem;
    left: 0.1rem;
    top: 5rem;
}

.prod-val-min-label {
    position: absolute;
    left: 0.1rem;
    top: 7.2rem;
}

.prod-val-min-input {
    position: absolute;
    width:8rem;
    height: 2rem;
    left: 0.1rem;
    top: 8.6rem;
}

.prod-brand-label {
    position: absolute;
    left: 0.1rem;
    top: 0rem;
}

.prod-brand-input {
    position: absolute;
    width:10rem;
    height: 2rem;
    left: 0.1rem;
    top: 0rem;
}

.prod-brand-label {
    position: absolute;
    left: 0.1rem;
    top: 10.9rem;
}

.prod-brand-input {
    position: absolute;
    left: 0.1rem;
    top: 12.3rem;
}

.prod-sector-label {
    position: absolute;
    left: 0.1rem;
    top: 14.6rem;
}

.prod-sector-input {
    position: absolute;
    width: 10rem;
    height: 2rem;
    left: 0.1rem;
    top: 16rem;
}

.prod-barcode-label {
    position: absolute;
    left: 0.1rem;
    top: 18.5rem;
}

.prod-barcode-input {
    position: absolute;
    width: 16rem;
    height: 2rem;
    left: 0.1rem;
    top: 20rem;
}


.prod-up-label-id{
    position: absolute;
    width: 7rem;
    left: 15.8rem;
    top: 0rem;
}

.prod-up-in-id{
    position: absolute;
    width: 4rem;
    height:2rem;
    left: 17rem;
    top: -0.5rem;
    cursor: pointer;
}

.prod-up-label-descric{
    position: absolute;
    left: 0.1rem;
    top: 0.6rem;
}

.prod-up-in-descric{
    position: absolute;
    width: 21rem;
    height:2rem;
    left: 0.1rem;
    top: 1.8rem;
    cursor: pointer;
}

.prod-up-label-val-max{
    position: absolute;
    left: 0.1rem;
    top: 3.8rem;
}

.prod-up-in-val-max{
    position: absolute;
    width: 6rem;
    height: 2rem;
    left: 0.1rem;
    top: 4.9rem;
    cursor: pointer;
}

.prod-up-label-val-min{
    position: absolute;
    left: 0.1rem;
    top: 7rem;
}

.prod-up-in-val-min{
    position: absolute;
    width: 6rem;
    height: 2rem;
    left: 0.1rem;
    top: 8rem;
    cursor: pointer;
}

.prod-up-label-brand{
    position: absolute;
    left: 0.1rem;
    top: 10.3rem;
}
.prod-up-in-brand{
    position: absolute;
    width: 8rem;
    height: 2rem;
    left: 0.1rem;
    top: 11.5rem;
}

.prod-up-label-sector{
    position: absolute;
    left: 0.1rem;
    top: 13.6rem;
}

.prod-up-in-sector{
    position: absolute;
    width: 8rem;
    height: 2rem;
    left: 0.1rem;
    top: 14.7rem;
    cursor: pointer;
}

.prod-up-label-barras{
    position: absolute;
    left: 0.1rem;
    top: 16.8rem;
}

.prod-up-in-barras{
    position: absolute;
    width: 21rem;
    height:2rem;
    left: 0.1rem;
    top: 18.1rem;
    cursor: pointer;
}

.pers-up-label-filial{
    position: absolute;
    left: 0.1rem;
    top: 15.3rem;
}

.pers-up-in-filial{
    position: absolute;
    width: 4rem;
    height:2rem;
    left: 0.1rem;
    top: 16.5rem;
    cursor: pointer;
}

.pers-up-label-user{
    position: absolute;
    left: 0.1rem;
    top: 18.8rem;

}

.pers-up-in-user{
    position: absolute;
    width: 4rem;
    height: 2rem;
    left: 0.1rem;
    top: 20rem;
    cursor: pointer;
}