* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0b0c3d;
    border-radius: 3px;
}

::placeholder {
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.main {
    height: 28rem;
    width: 24rem;
    padding: 22px 0px 0px 22px;
    background-color: rgb(73, 80, 80);
}

.f-form {
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 20rem;
}

.email-label {
    position: absolute;
    left: 0.1rem;
    top: 0rem;
}

.email-input {
    position: absolute;
    left: 0.1rem;
    top: 1.6rem;
}

.pass-label {
    position: absolute;
    left: 0rem;
    top: 6rem;
}

.pass-input {
    position: absolute;
    left: 0.1rem;
    top: 7.5rem;
}

.reg-name-label {
    position: absolute;
    left: 0.1rem;
    top: 0rem;
}

.reg-name-input {
    position: absolute;
    left: 0.1rem;
    top: 1.6rem;
}

.reg-email-label {
    position: absolute;
    left: 0.1rem;
    top: 4rem;
}

.reg-email-input {
    position: absolute;
    left: 0.1rem;
    top: 5.5rem;
}

.reg-pass-label {
    position: absolute;
    left: 0.1rem;
    top: 8.2rem;
}

.reg-pass-input {
    position: absolute;
    left: 0.1rem;
    top: 9.7rem;
}

.reg-pass-repeat-label {
    position: absolute;
    left: 0.1rem;
    top: 11.9rem;
}

.reg-pass-repeat-input {
    position: absolute;
    left: 0.1rem;
    top: 13.4rem;
}

.update-foto-user {
    position: absolute;
    width: 6rem;
    height: 8rem;
    left: -0.6rem;
    top: 4.2rem;
    border: 1px solid bisque;
    border-radius: 4px;
}

.update-text-id {
    position: absolute;
    left: 6rem;
    top: 3rem;
}

.update-text-user {
    position: absolute;
    left: 6rem;
    top: 7rem;
}

.update-text-email {
    position: absolute;
    left: 6rem;
    top: 11rem;
}

.update-in-id {
    position: absolute;
    width: 2rem;
    left: 6rem;
    top: 4.2rem;
}

.update-in-user {
    position: absolute;
    left: 6rem;
    top: 8.2rem;
}

.update-in-email {
    position: absolute;
    left: 6rem;
    top: 12.2rem;
}

.update-btn-ant {
    position: absolute;
    height: 2rem;
    left: 6rem;
    top: 20rem;
    border: none;
    cursor: pointer;
}

.update-btn-prox {
    position: absolute;
    height: 2rem;
    left: 15rem;
    top: 20rem;
    border: none;
    cursor: pointer;
}

.update-register {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    left: 6rem;
    top: 16rem;
    background: url('../../../public/img/register.png');
    border: none;
    cursor: pointer;
}

.update-register:hover {
    background-size: 3rem;
}

.update-update {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    left: 11.4rem;
    top: 16rem;
    border-radius: 6px;
    background: url('../../../public/img/update.png');
    border: none;
    cursor: pointer;
}

.update-update:hover {
    background-size: 4rem;
}

.update-delete {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    left: 17rem;
    top: 16rem;
    border-radius: 6px;
    background: url('../../../public/img/delete.png');
    border: none;
    cursor: pointer;
}

.update-delete:hover {
    background-size: 2rem;
}

.button-login {
    position: absolute;
    height: 40px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    left: 0.1rem;
    top: 16rem;
}

.button-login:hover {
    background-color: #444;
    color: blue;
}

.login-text {
    position: absolute;
    left: 0.1rem;
    top: 19.6rem;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    color: var(--label-color)
}

.login-company {
    position: absolute;
    left: 8rem;
    top: 13rem;
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    color: var(--label-color)
}

.login-message {
    position: absolute;
    left: 6.8rem;
    top: 16rem;
    font-size: 13px;
    color: white;
}

.login-alert {
    position: absolute;
    left: 6.8rem;
    top: 16rem;
    font-size: 13px;
    color: white;
}

/* Listagens */
.container-list {
    height: auto;
    background: #cbd8e7;
    border: var(--main-border);
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
}

.update-list {
    padding: 12px;
    font-size: 12px;
}

:root {
    --list--font-size: 14px;
    --list--color: black
}

.list-id {
    font-size: var(--list--font-size);
    color: var(--list--color)
}

.list-create {
    font-size: var(--list--font-size);
    color: var(--list--color)
}

.list-name {
    font-size: var(--list--font-size);
    color: var(--list--color)
}

.list-email {
    font-size: var(--list--font-size);
    color: var(--list--color)
}

.list-password {
    font-size: var(--list--font-size);
    color: var(--list--color)
}