div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: #0b0c3d; */
    /* color:rgb(165, 191, 191); */
    /* color: white; */
    border-radius: 2px;
}

::placeholder {
    font-size: 13px;
}

.modal {
    display: none;
    margin-top: 3rem;
}

.btn-modal {
    display:contents;
    cursor: pointer;
}

.login-secure{
    width:60px;
    height:60px;
    margin-top: 6.7rem;
}

.container {
    margin-top: -6.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.main {
    height: 29rem;
    width: 24rem;
    padding: 22px 0px 0px 22px;
    background-color: rgb(73, 80, 80);
}

.f-form {
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 20rem;
}

.email-label {
    position: absolute;
    left: 0.1rem;
    top: 0rem;
}

.email-input {
    position: absolute;
    left: 0.1rem;
    top: 1.6rem;
    cursor: pointer;
}

.pass-label {
    position: absolute;
    left: 0rem;
    top: 6rem;
}

.pass-input {
    position: absolute;
    left: 0.1rem;
    top: 7.5rem;
    cursor: pointer;
}

.reg-name-label {
    position: absolute;
    left: 0.1rem;
    top: 0rem;
}

.reg-name-input {
    position: absolute;
    left: 0.1rem;
    top: 1.6rem;
    cursor: pointer;
}

.reg-email-label {
    position: absolute;
    left: 0.1rem;
    top: 4rem;
}

.reg-email-input {
    position: absolute;
    left: 0.1rem;
    top: 5.5rem;
    cursor: pointer;
}

.reg-pass-label {
    position: absolute;
    left: 0.1rem;
    top: 8.2rem;
}

.reg-pass-input {
    position: absolute;
    left: 0.1rem;
    top: 9.7rem;
    cursor: pointer;
}

.reg-pass-repeat-label {
    position: absolute;
    left: 0.1rem;
    top: 11.9rem;
}

.reg-pass-repeat-input {
    position: absolute;
    left: 0.1rem;
    top: 13.4rem;
    cursor: pointer;
}

.update-text-id {
    position: absolute;
    left: 2rem;
    top: 0.8rem;
}

.update-in-id {
    position: absolute;
    width: 2rem;
    left: 2rem;
    top: 2.2rem;
    cursor: pointer;
}

.update-text-user {
    position: absolute;
    left: 2rem;
    top: 4.9rem;
}

.update-in-user {
    position: absolute;
    width: 15rem;
    left: 2rem;
    top: 6.2rem;
    cursor: pointer;
}

.update-text-email {
    position: absolute;
    left: 2rem;
    top: 8.9rem;
}

.update-in-email {
    position: absolute;
    width: 15rem;
    left: 2rem;
    top: 10.2rem;
    cursor: pointer;
}

.update-text-password{
    position: absolute;
    left: 2rem;
    top: 12.9rem;
}

.update-in-password{
    position: absolute;
    width: 15rem;
    left: 2rem;
    top: 14.2rem;
    cursor: pointer;
}

.update-text-psw_repeat{
    position: absolute;
    left: 2rem;
    top: 16.9rem;
}

.update-in-psw-repeat{
    position: absolute;
    width: 15rem;
    left: 2rem;
    top: 18.2rem;
    cursor: pointer;

}

.update-register {
    position: absolute;
    width: 5rem;
    height: 2.2rem;
    left: 2rem;
    top: 22rem;
    border: none;
    cursor: pointer;
}

.update-register:hover {
    background-size: 3rem;
}

.update-update {
    position: absolute;
    width: 5rem;
    height: 2.2rem;
    left: 8rem;
    top: 22rem;
    border: none;
    cursor: pointer;
}

.update-update:hover {
    background-size: 4rem;
}

.update-delete {
    position: absolute;
    width: 5rem;
    height: 2.2rem;
    left: 14rem;
    top: 22rem;
    border: none;
    cursor: pointer;
}

.update-delete:hover {
    background-size: 2rem;
}

.button-login {
    position: absolute;
    height: 40px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    left: 0.1rem;
    top: 16rem;
}

.button-login:hover {
    background-color: #444;
    color: blue;
}

.login-text {
    position: absolute;
    left: 0.1rem;
    top: 19.6rem;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    color: var(--label-color)
}

.login-company {
    position: absolute;
    left: 8rem;
    top: 13rem;
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    color: var(--label-color)
}

.login-message {
    position: absolute;
    left: 6.8rem;
    top: 16rem;
    font-size: 13px;
    color: white;
}

.login-alert {
    position: absolute;
    left: 6.8rem;
    top: 16rem;
    font-size: 13px;
    color: white;
}
