.button-pers {
    position: absolute;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    left: 0.1rem;
    top: 6rem;
}

.button-pers:hover {
    background-color: #444;
    color: blue;
}

.pers-name-label {
    position: absolute;
    left: 0.1rem;
    top: 1.5rem;
}

.pers-name-input {
    position: absolute;
    width: 16rem;
    left: 0.1rem;
    top: 3rem;
    cursor: pointer;
}

.pers-cpf-label {
    position: absolute;
    left: 0.1rem;
    top: 5.3rem;
}

.pers-cpf-input {
    position: absolute;
    width: 9rem;
    left: 0.1rem;
    top: 6.6rem;
    cursor: pointer;
}

.pers-phone-label {
    position: absolute;
    left: 0.1rem;
    top: 9.1rem;
}

.pers-phone-input {
    position: absolute;
    width: 9rem;
    left: 0.1rem;
    top: 10.4rem;
    cursor: pointer;
}

.pers-address-label {
    position: absolute;
    left: 0.1rem;
    top: 12.8rem;
}

.pers-address-input {
    position: absolute;
    width: 18rem;
    left: 0.1rem;
    top: 14.2rem;
    cursor: pointer;
}

.pers-filial-label {
    position: absolute;
    left: 0.1rem;
    top: 16.8rem;
}

.pers-filial-input {
    position: absolute;
    width: 4rem;
    left: 0.1rem;
    top: 18.1rem;
    cursor: pointer;
}

.update-register {
    position: absolute;
    width: 5rem;
    height: 2.2rem;
    left: 2rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.update-register:hover {
    background-size: 3rem;
}

.update-update {
    position: absolute;
    width: 5rem;
    height: 2.2rem;
    left: 8rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.update-update:hover {
    background-size: 4rem;
}

.update-delete {
    position: absolute;
    width: 5rem;
    height: 2.2rem;
    left: 14rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.update-delete:hover {
    background-size: 2rem;
}

.pers-up-label-id{
    position: absolute;
    width: 7rem;
    left: 12rem;
    top: 0.3rem;
}

.pers-up-in-id{
    position: absolute;
    width: 4rem;
    left: 17rem;
    top: 0rem;
    cursor: pointer;
}

.pers-up-label-name{
    position: absolute;
    left: 0.1rem;
    top: 1.5rem;
}

.pers-up-in-name{
    position: absolute;
    width: 21rem;
    left: 0.1rem;
    top: 2.7rem;
    cursor: pointer;
}

.pers-up-label-cpf{
    position: absolute;
    left: 0.1rem;
    top: 5rem;
}

.pers-up-in-cpf{
    position: absolute;
    width: 9rem;
    left: 0.1rem;
    top: 6.2rem;
    cursor: pointer;
}


.pers-up-label-phone{
    position: absolute;
    left: 0.1rem;
    top: 8.5rem;
}

.pers-up-in-phone{
    position: absolute;
    width: 10rem;
    left: 0.1rem;
    top: 9.7rem;
    cursor: pointer;
}


.pers-up-label-address{
    position: absolute;
    left: 0.1rem;
    top: 11.8rem;
}

.pers-up-in-address{
    position: absolute;
    width: 21rem;
    left: 0.1rem;
    top: 13.1rem;
    cursor: pointer;
}

.pers-up-label-filial{
    position: absolute;
    left: 0.1rem;
    top: 15.3rem;
}

.pers-up-in-filial{
    position: absolute;
    width: 4rem;
    left: 0.1rem;
    top: 16.5rem;
    cursor: pointer;
}

.pers-up-label-user{
    position: absolute;
    left: 0.1rem;
    top: 18.8rem;

}

.pers-up-in-user{
    position: absolute;
    width: 4rem;
    left: 0.1rem;
    top: 20rem;
    cursor: pointer;
}