.container_{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.main_ {
    width: 25.5rem;
    height: 30rem;
    padding: 2rem 2rem;
    background-color: rgb(103, 108, 107);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    color:rgba(7, 17, 7, 0.987);
    border-radius: 1rem;
    border:gray 0.2rem solid;
}

.form_ {
    position: relative;
}

.container-modal_{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
}

.modal {
    display: none;
    margin-top: 3rem;
}

.btn-modal {
    display:contents;
    cursor: pointer;
}

::placeholder {
    color: rgb(14, 165, 14);
}

.btn-update-register {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 1rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.btn-update-register:hover {
    background-size: 3rem;
}

.btn-update-update {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 8rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.btn-update-update:hover {
    background-size: 4rem;
}

.btn-update-new {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 15rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.btn-update-new:hover {
    background-size: 2rem;
}
