.container-list-itens{
    display: flex;
    width: 18.7rem;
    height: 3.1rem;
    margin-top: 1px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 6vh;
}

.main-list-itens {
    height: 3rem;
    width: 26rem;
    font-size: 0.8rem;
    border: 1px rgba(225, 225, 235, 0.889) solid;
    background-color: rgba(199, 217, 217, 0.559);
    border-radius: 6px;
}

.form-itens {
    padding: 2px 2px 2px 5px;
    color:green;
    width: 27rem;
}

.load-list-itens{
    font-size: 12px;
    display: inline;
    position: relative;
     border:none;
     width: 99%;
     left: 1rem;
     top: 28rem;
}

.sale-save-update {
    position: absolute;
    width: 7rem;
    height: 2.2rem;
    left: 7rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.sale-save-update:hover {
    background-size: 3rem;
}

.sale-submit {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 15rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.sale-submit:hover {
    background-size: 4rem;
}

.sale-delete {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 0rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.sale-delete:hover {
    background-size: 2rem;
}

:root {
    --label--color:rgba(7, 17, 7, 0.987);
    --label--font-family:Arial;
    --label--font-size:1.5rem;
}

.sale-label-descric {
    position: absolute;
    width: 18rem;
    left: 0rem;
    top: 7rem;
    font-family:var(--label--font-family);
    color:var(--label--color);
    font-size:var(--label--font-size);
}

.sale-label-amount {
    position: absolute;
    width: 18rem;
    left: 0rem;
    top: 12.3rem;
    font-family:var(--label--font-family);
    color:var(--label--color);
    font-size:var(--label--font-size);
}

.sale-label-total-itens{
    position: absolute;
    width: 19rem;
    left: 0rem;
    top: 15rem;
    font-family:var(--label--font-family);
    color:var(--label--color);
    font-size:var(--label--font-size);
}

.sale-label-valor{
    position: absolute;
    width: 18rem;
    left: 2rem;
    top: 12.2rem;
    font-family:var(--label--font-family);
    color:var(--label--color);
    font-size:var(--label--font-size);
}

.sale-input-descric {
    position: absolute;
    width: 21rem;
    height: 2.4rem;
    left: 0rem;
    top: 4rem;
    cursor: pointer;
}

.sale-input-amount {
    position: absolute;
    width: 5rem;
    height:2rem;
    left: 16rem;
    top: 7rem;
    cursor: pointer;
}

.sale-input-val-max {
    position: absolute;
    width: 6rem;
    height: 2rem;
    left: 15rem;
    top: 18rem;
    cursor: pointer;
}

.sale-input-id{
    position: absolute;
    width: 3rem;
    height: 2rem;
    left: 0rem;
    top: 1.6rem;
    cursor: pointer;

}

.sale-input-item{
    position: absolute;
    width: 3rem;
    height: 2rem;
    left: 3rem;
    top: 1.6rem;
    cursor: pointer;

}

.sale-search-item{
    position: absolute;
    font-size: 0.8rem;
    border:none;
    width: 6rem;
    height: 2rem;
    left: 15rem;
    top:20.5rem;
    cursor: pointer;
}

.sale-input-disc_sale{
    position: absolute;
    width: 7rem;
    height: 2rem;
    left: 0rem;
    top: 15rem;
    cursor: pointer;
}

.sale-input-payment-sale{
    position: absolute;
    width: 7rem;
    height:2rem;
    left: 0rem;
    top: 18rem;
    cursor: pointer;
}

.sale-send-sale{
    position: absolute;
    width: 9rem;
    height: 3rem;
    left: 0rem;
    top: 22rem;
    cursor: pointer;
    border:none;
    border-radius: 0.3rem;
}

