.container-list-itens {
    display: flex;
    width: 31rem;
    height: 1rem;
    margin-top: -0.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 6vh;
}
.main-list-itens {
    height: 2rem;
    width: 34.9rem;
    font-size: 0.7rem;
    border: 0.1rem green solid;
    background-color: rgba(199, 217, 217, 0.559);
    border-radius: 3px;
}
.form-itens {
    padding: 7px 7px 7px 7px;
    color: rgb(17, 18, 17);
    width: 27rem;
}
.form-itens strong a {
    text-decoration: none;
}


@media screen and (max-width:768px) {
    .container-list-itens{
        display: flex;
        width: 21rem;
    }
    .main-list-itens{
        width: 25.4rem;
    }
    .sale-label-descric{
        font-size: 0.5rem;
    }
}

.item-img {
    display: flex;
    position: relative;
    margin-top: -7.6rem;
    width: 10rem;
    height: 9rem;
    left: 0rem;
    top: 8rem;
    border-radius: 4px;
    background-color: gainsboro;
    border: 0.1rem solid green;
    cursor: pointer;
}
.load-list-itens {
    font-size: 12px;
    display: inline;
    position: relative;
    border: none;
    width: 99%;
    left: 0rem;
    top: 28rem;
}
.sale-save-update {
    position: absolute;
    width: 7rem;
    height: 2.2rem;
    left: 7rem;
    top: 22rem;
    border: none;
    cursor: pointer;
}
.sale-save-update:hover {
    background-size: 3rem;
}
.sale-submit {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 15rem;
    top: 22rem;
    border: none;
    cursor: pointer;
}
.sale-submit:hover {
    background-size: 4rem;
}
.sale-delete {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 0rem;
    top: 22rem;
    border: none;
    cursor: pointer;
}
.sale-delete:hover {
    background-size: 2rem;
}
:root {
    --label--color:rgb(9, 9, 84);
    --label--font-family: Arial;
    --label--font-size: 1.6rem;
}
.sale-label-descric {
    position: absolute;
    width: 38rem;
    left: 0rem;
    top: 8.9rem;
    font-family: var(--label--font-family);
    color: var(--label--color);
    /* font-size: var(--label--font-size); */
    font-size: 1.1rem;
}
.sale-label-amount {
    position: absolute;
    width: 18rem;
    left: 11rem;
    top: 6rem;
    font-family: var(--label--font-family);
    color: var(--label--color);
    font-size: var(--label--font-size);
}
.sale-label-total-itens {
    position: absolute;
    width: 19rem;
    left: 0rem;
    top: 19rem;
    font-family: var(--label--font-family);
    color: var(--label--color);
    /* font-size: var(--label--font-size); */
    font-size: 1.4rem;
}
input{
    border-radius: 3px;
    border: none;
    color:black;
}
button{
    border-radius: 3px;
}
.sale-label-valor {
    position: absolute;
    width: 18rem;
    left: 13rem;
    top: 6rem;
    font-family: var(--label--font-family);
    color: var(--label--color);
    font-size: var(--label--font-size);
}
.sale-input-descric {
    position: absolute;
    width: 21rem;
    height: 2.4rem;
    left: 0rem;
    top: 15rem;
    cursor: pointer;
}
.sale-input-amount {
    position: absolute;
    width: 5rem;
    height: 2.1rem;
    left: 16rem;
    top: 18rem;
    cursor: pointer;
}
.sale-input-val-max {
    position: absolute;
    width: 6rem;
    height: 2rem;
    left: 8rem;
    top: 12rem;
    cursor: pointer;
}
.sale-input-id {
    position: absolute;
    width: 3rem;
    height: 2rem;
    left: 0rem;
    top: 12rem;
    cursor: pointer;

}
.sale-input-item {
    position: absolute;
    width: 3rem;
    height: 2rem;
    left: 4rem;
    top: 12rem;
    cursor: pointer;

}
.sale-search-item {
    position: absolute;
    font-size: 0.8rem;
    border: none;
    width: 12rem;
    height: 2.5rem;
    left: 4.6rem;
    top: 25rem;
    cursor: pointer;
}
.sale-input-disc_sale {
    position: absolute;
    width: 7rem;
    height: 2rem;
    left: 0rem;
    top: 15rem;
    cursor: pointer;
}
.sale-input-payment-sale {
    position: absolute;
    width: 7rem;
    height: 2rem;
    left: 0rem;
    top: 18rem;
    cursor: pointer;
}
.sale-send-sale {
    position: absolute;
    width: 9rem;
    height: 3rem;
    left: 0rem;
    top: 22rem;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
}