.container {
    margin-top: -6rem;
    height: 29rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main {
    height: 30rem;
    width: 25.5rem;
    background-color: rgb(73, 80, 80);
    border-radius: 1rem;
     border: 2px solid gray;
}

.f-form {
    width: 24rem;
    height: 29rem;
}

.container-list-itens{
    display: flex;
    width: 21rem;
    height: 4rem;
    margin-top: 1px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 6vh;
}

.main-list-itens {
    height: 3rem;
    width: 25.6rem;
    font-size: 12px;
    border: 1px rgba(225, 225, 235, 0.889) solid;
    background-color: rgba(199, 217, 217, 0.559);
    border-radius: 6px;
}

.f-form-itens {
    padding: 2px 2px 2px 5px;
    color:rgba(2, 12, 28, 0.882);
    width: 23rem;
}

.load-list-itens{
    font-size: 12px;
    display: inline;
    position: relative;
     border:none;
     width: 99%;
     left: 1rem;
     top: 28rem;
}

.sale-save-update {
    position: absolute;
    width: 7rem;
    height: 2.2rem;
    left: 8rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.sale-save-update:hover {
    background-size: 3rem;
}

.sale-submit {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 16rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.sale-submit:hover {
    background-size: 4rem;
}

.sale-delete {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 1rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.sale-delete:hover {
    background-size: 2rem;
}

:root {
    --label--color: rgba(147, 226, 200, 0.859);
    --label--font-family:Verdana, Geneva, Tahoma, sans-serif;
    --label--font-size:1.7rem;
}

.sale-label-descric {
    position: absolute;
    width: 18rem;
    left: 1rem;
    top: 7rem;
    font-family:var(--label--font-family);
    color:var(--label--color);
    font-size:var(--label--font-size);
}

.sale-label-amount {
    position: absolute;
    width: 18rem;
    left: 1rem;
    top: 12.3rem;
    font-family:var(--label--font-family);
    color:var(--label--color);
    font-size:var(--label--font-size);
}

.sale-label-total-itens{
    position: absolute;
    width: 19rem;
    left: 1rem;
    top: 16rem;
    font-family:var(--label--font-family);
    color:var(--label--color);
    font-size:var(--label--font-size);
}

.sale-label-valor{
    position: absolute;
    width: 18rem;
    left: 3rem;
    top: 12.2rem;
    font-family:var(--label--font-family);
    color:var(--label--color);
    font-size:var(--label--font-size);
}

.sale-input-descric {
    position: absolute;
    width: 21rem;
    left: 1rem;
    top: 4rem;
    cursor: pointer;
}

.sale-input-amount {
    position: absolute;
    width: 5rem;
    left: 17rem;
    top: 7rem;
    cursor: pointer;
}

.sale-input-val-max {
    position: absolute;
    width: 6rem;
    left: 16rem;
    top: 12.3rem;
    cursor: pointer;
}

.sale-input-id{
    position: absolute;
    width: 3rem;
    left: 15.9rem;
    top: 2rem;
    cursor: pointer;

}

.sale-input-item{
    position: absolute;
    width: 3rem;
    left: 19rem;
    top: 2rem;
    cursor: pointer;

}

.sale-search-item{
    font-size: 12px;
    display: flex;
    position: absolute;
    border:none;
    width: 4.2rem;
    left: 17.7rem;
    top:14.3rem;
    cursor: pointer;
}

.sale-input-disc_sale{
    position: absolute;
    width: 7rem;
    left: 0rem;
    top: 15rem;
    cursor: pointer;
}

.sale-input-payment-sale{
    position: absolute;
    width: 7rem;
    left: 0rem;
    top: 18rem;
    cursor: pointer;
}

.sale-send-sale{
    position: absolute;
    width: 9rem;
    height: 3rem;
    left: 0rem;
    top: 22rem;
    cursor: pointer;
    border:none;
    border-radius: 0.3rem;
}

