.container {
    margin-top: -6.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.main {
    height: 29rem;
    width: 25.6rem;
    background-color: rgb(73, 80, 80);
}

.f-form {
    padding: 0px 0px 0px 0px;
}

.container-list-itens{
    display: flex;
    width: 21rem;
    height: 4rem;
    margin-top: 1px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 6vh;
}

.main-list-itens {
    height: 3rem;
    width: 25.6rem;
    font-size: 12px;
    border: 1px rgba(225, 225, 235, 0.889) solid;
    background-color: rgba(199, 217, 217, 0.559);
    border-radius: 2px;
}
.f-form-itens {
    padding: 2px 2px 2px 5px;
    color:rgba(2, 12, 28, 0.882);
    width: 23rem;
}

.load-list-itens{
    font-size: 12px;
    display: inline;
    position: relative;
     border:none;
     width: 99%;
     left: 1rem;
     top: 28rem;
}

.sale-save-update {
    position: absolute;
    width: 7rem;
    height: 2.2rem;
    left: 8rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.sale-save-update:hover {
    background-size: 3rem;
}

.sale-submit {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 16rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.sale-submit:hover {
    background-size: 4rem;
}

.sale-delete {
    position: absolute;
    width: 6rem;
    height: 2.2rem;
    left: 1rem;
    top: 23rem;
    border: none;
    cursor: pointer;
}

.sale-delete:hover {
    background-size: 2rem;
}

.sale-label-descric {
    position: absolute;
    width: 18rem;
    left: 1rem;
    top: 7rem;
    color: aqua;
    font-size: 23px;
}

.sale-input-descric {
    position: absolute;
    width: 21rem;
    left: 1rem;
    top: 2rem;
    cursor: pointer;
}

.sale-label-amount {
    position: absolute;
    width: 18rem;
    left: 3rem;
    top: 12rem;
    color: aqua;
    font-size: 26px;
}

.sale-input-amount {
    position: absolute;
    width: 5rem;
    left: 16rem;
    top: 4rem;
    cursor: pointer;
}

.sale-input-val-max {
    position: absolute;
    width: 6rem;
    left: 16rem;
    top: 12.3rem;
    cursor: pointer;
}

.sale-label-total-itens{
    position: absolute;
    font-size: 1.1rem;
    color:aqua;
    width: 17rem;
    left: 7rem;
    top: 15rem;
    cursor: pointer;
}

.sale-input-id{
    position: absolute;
    width: 3rem;
    left: 15.9rem;
    top: 0rem;
    cursor: pointer;

}

.sale-input-item{
    position: absolute;
    width: 3rem;
    left: 19rem;
    top: 0rem;
    cursor: pointer;

}

.sale-label-valor{
    position: absolute;
    width: 18rem;
    left: 6rem;
    top: 12rem;
    color: aqua;
    font-size: 28px;
}

.sale-search-item{
    font-size: 12px;
    display: flex;
    position: absolute;
    border:none;
    width: 4.3rem;
    left: 1rem;
    top: 5rem;
    cursor: pointer;
}

